@model List<UserViewModel>


@{int counter = 0;}

<section>
    @{counter++;}
    <p>Users:
        <ul>
            @foreach (var user in Model)
                {
                    <li>@user.FullName</li><br>
                    @if(user.Gifts != null){
                     <ul>
                        @foreach (var gift in user.Gifts)
                        {
                            <li>@gift.Title - @gift.Priority <a asp-controller="Gift" asp-action="Update" asp-route-userId=@user.Id asp-route-id=@counter>Update</a> <a asp-controller="Gift" asp-action="Delete" asp-route-userId=@user.Id asp-route-itemid=@counter>Delete</a></li>
                            <ul>
                                <li>@gift.Description</li>
                                <li><url>@gift.Url</url></li>
                            </ul>
                            <br>
                        }
                    </ul> 
                    }
                }
        </ul>
        </p>
</section>

<a asp-controller="Gifts" asp-action="Create">Create</a>