@model List<UserViewModel>


@{int counter = 0;}

<section>
    @{counter++;}
    <p>Users:
        <ul>
            @foreach (var user in Model)
                {
                    <li>@user.FirstName</li>
                    @if(user.Gifts != null){
                     <ul>
                        @foreach (var gift in user.Gifts)
                        {
                            <li>@gift.Title - @gift.Priority</li>
                            <li>@gift.Description</li>
                            <li><url>@gift.Url</url></li>
                            <li></li>
                        }
                    </ul> 
                    }
                }
        </ul>
        </p>
</section>

<a asp-controller="Gifts" asp-action="Create">Create</a>