@model List<UserViewModel>


@{int userCounter = 0;}
@{int giftCounter = 0;}

<section>

    <p>Users:
        <ul>
            @foreach (var user in Model)
                {
                    
                    <li>@user.FullName</li><br>
                    
                     <ul>
                        @foreach (var gift in user.Gifts)
                        {
                            @if(user.Gifts.Count > 0){

                            <li>@gift.Title - @gift.Priority <a asp-controller="Gifts" asp-action="Update" asp-route-userId=@(user.Id) asp-route-giftId=@(gift.Id)>Update</a> <a a asp-controller="Gifts" asp-action="Delete" asp-route-userId=@(user.Id) asp-route-giftId=@(gift.Id)>Delete</a></li>
                            <ul>
                                <li>@gift.Description</li>
                                <li><url>@gift.Url</url></li>
                            </ul>
                            <br>
        
                            }
                            giftCounter++;
                        }
                        @(giftCounter = 0);

                    </ul> 
                    userCounter++;
                }
        </ul>
        </p>
</section>

<a asp-controller="Gifts" asp-action="Create">Create</a>